osgi-source-bundles-parent/.classpath
osgi-source-bundles-parent/.project
osgi-source-bundles-parent/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/btf/.classpath
osgi-source-bundles-parent/btf/.project
osgi-source-bundles-parent/btf/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/btf/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/btf/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/jackson-annotations/.classpath
osgi-source-bundles-parent/jackson-annotations/.project
osgi-source-bundles-parent/jackson-annotations/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/jackson-annotations/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/jackson-annotations/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/jackson-core/.classpath
osgi-source-bundles-parent/jackson-core/.project
osgi-source-bundles-parent/jackson-core/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/jackson-core/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/jackson-core/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/jackson-coreutils/.classpath
osgi-source-bundles-parent/jackson-coreutils/.project
osgi-source-bundles-parent/jackson-coreutils/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/jackson-coreutils/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/jackson-coreutils/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/jackson-databind/.classpath
osgi-source-bundles-parent/jackson-databind/.project
osgi-source-bundles-parent/jackson-databind/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/jackson-databind/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/jackson-databind/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/jackson-dataformat-xml/.classpath
osgi-source-bundles-parent/jackson-dataformat-xml/.project
osgi-source-bundles-parent/jackson-dataformat-xml/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/jackson-dataformat-xml/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/jackson-dataformat-xml/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/jackson-datatype-jsr353/.classpath
osgi-source-bundles-parent/jackson-datatype-jsr353/.project
osgi-source-bundles-parent/jackson-datatype-jsr353/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/jackson-datatype-jsr353/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/jackson-datatype-jsr353/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/jackson-module-jaxb-annotations/.classpath
osgi-source-bundles-parent/jackson-module-jaxb-annotations/.project
osgi-source-bundles-parent/jackson-module-jaxb-annotations/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/jackson-module-jaxb-annotations/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/jackson-module-jaxb-annotations/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/javax.json-api/.classpath
osgi-source-bundles-parent/javax.json-api/.project
osgi-source-bundles-parent/javax.json-api/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/javax.json-api/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/javax.json-api/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/joda-time/.classpath
osgi-source-bundles-parent/joda-time/.project
osgi-source-bundles-parent/joda-time/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/joda-time/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/joda-time/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/jopt-simple/.classpath
osgi-source-bundles-parent/jopt-simple/.project
osgi-source-bundles-parent/jopt-simple/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/jopt-simple/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/jopt-simple/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/json-patch/.classpath
osgi-source-bundles-parent/json-patch/.project
osgi-source-bundles-parent/json-patch/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/json-patch/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/json-patch/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/json-path/.classpath
osgi-source-bundles-parent/json-path/.project
osgi-source-bundles-parent/json-path/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/json-path/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/json-path/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/json-schema-core/.classpath
osgi-source-bundles-parent/json-schema-core/.project
osgi-source-bundles-parent/json-schema-core/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/json-schema-core/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/json-schema-core/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/json-schema-validator/.classpath
osgi-source-bundles-parent/json-schema-validator/.project
osgi-source-bundles-parent/json-schema-validator/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/json-schema-validator/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/json-schema-validator/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/json-smart-asm/.classpath
osgi-source-bundles-parent/json-smart-asm/.project
osgi-source-bundles-parent/json-smart-asm/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/json-smart-asm/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/json-smart-asm/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/msg-simple/.classpath
osgi-source-bundles-parent/msg-simple/.project
osgi-source-bundles-parent/msg-simple/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/msg-simple/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/msg-simple/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/stax2-api/.classpath
osgi-source-bundles-parent/stax2-api/.project
osgi-source-bundles-parent/stax2-api/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/stax2-api/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/stax2-api/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/uri-template/.classpath
osgi-source-bundles-parent/uri-template/.project
osgi-source-bundles-parent/uri-template/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/uri-template/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/uri-template/.settings/org.eclipse.m2e.core.prefs
osgi-source-bundles-parent/woodstox-core-asl/.classpath
osgi-source-bundles-parent/woodstox-core-asl/.project
osgi-source-bundles-parent/woodstox-core-asl/.settings/org.eclipse.core.resources.prefs
osgi-source-bundles-parent/woodstox-core-asl/.settings/org.eclipse.jdt.core.prefs
osgi-source-bundles-parent/woodstox-core-asl/.settings/org.eclipse.m2e.core.prefs